[submodule "bundles/client"]
	path = bundles/client
	url = git@github.com:layla/client.git
[submodule "bundles/admin"]
	path = bundles/admin
	url = git@github.com:layla/admin.git
[submodule "bundles/domain"]
	path = bundles/domain
	url = git@github.com:layla/domain.git
[submodule "bundles/components"]
	path = bundles/components
	url = git@github.com:layla/components.git 
