[submodule "bundles/admin"]
	path = bundles/admin
	url = git@github.com:getlayla/admin.git
[submodule "bundles/domain"]
	path = bundles/domain
	url = git@github.com:getlayla/domain.git
[submodule "bundles/client"]
	path = bundles/client
	url = git@github.com:getlayla/client.git
[submodule "bundles/components"]
	path = bundles/components
	url = git@github.com:getlayla/components.git